<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
</head>
<body>
    <h1>Welcome to the Form Page</h1>
    <form action="/create" method="POST">
        <input type="text" id="name" name="name" placeholder="your name" >
        <input type="email" id="email" name="email" placeholder="your email" required>
        <input type="password" id="password" name="password" placeholder="your password" />

        <input type="number" id="number" name="age" placeholder="your age" >

        <button type="submit">Submit</button>
    </form>
</body>
</html>
